<!DOCTYPE html>
<html lang="en">
  <head>
    <title>rails-stack</title>
  </head>
  <body>
    <h1>rails-stack is working!</h1>
    <p>
      Deploy your app {{ app_name }} using Capistrano and you'll be ready to go.
    </p>
    <footer>
      <p><a href="https://github.com/boone/rails-stack">rails-stack</a></p>
    </footer>
  </body>
</html>
